<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Delete_Push_Pull.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Delete_Push_Pull.Properties.Settings>
            <setting name="DeleteDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Local" serializeAs="String">
                <value />
            </setting>
            <setting name="Cloud" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="GenSheets" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelFontSize" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ProductionHelpDir" serializeAs="String">
                <value />
            </setting>
            <setting name="null" serializeAs="String">
                <value />
            </setting>
        </Delete_Push_Pull.Properties.Settings>
    </userSettings>
</configuration>